:root {
  --clr-green: #4caf50;
  --bg-green: #609b6c;
  --card-bg-green: #7abd87;
  --card-name-green: rgba(0, 161, 7);
}
body {
  min-height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font: inherit;
}
img {
  max-width: 100%;
}

.App {
  padding-inline: 3rem;
}

.button-container {
  display: flex;
  max-width: 600px;
  justify-content: space-between;
  align-items: center;
}
.button-container > button:first-child {
  background-color: #4caf50;
  color: white;
  border: 0;
  padding: 7px 20px;
}
.button-container > button:nth-child(2) {
  background-color: #7abd87;
  font-weight: bold;
  color: black;
  border: 0;
  padding: 15px 20px;
  border-radius: 10px;
}

h1 {
  color: var(--clr-green);
  margin-bottom: 1rem;
}

h2 {
  color: #609b6c;
  margin-bottom: 1rem;
}
.name {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.2em;
}
.title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.about-container {
  display: flex;
  margin-bottom: 2em;
}

.about-container > p {
  width: 35%;
}

.about-container > div {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-container button {
  background-color: #609b6c;
  width: 30px;
  aspect-ratio: 1;
  color: white;
  border-radius: 50%;
  border: 0;
  outline: 0;
  display: grid;
  place-content: center;
}
.outcast {
  background-color: #7abd87;
  position: absolute;
  width: 90vw;
  aspect-ratio: 1;
  top: -40%;
  right: -15%;
  border-radius: 50%;
  overflow: hidden;
}

.card-container {
  width: 30%;
  outline: 1px dashed rgba(0, 0, 0, 0.2);
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  top: 90%;
  left: 35%;
  transform: scale(2);
}

.card-image {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
}

.active-card {
  top: -5%;
  left: 40%;
}

.firstCardLeft {
  top: 5%;
  left: 10%;
}
.secondCardLeft {
  top: 25%;
  left: -3%;
}

.firstCardRight {
  top: 5%;
  left: 75%;
}

.secondCardRight {
  top: 23%;
  left: 85%;
}

.inActiveCard {
  top: 50%;
}
